bin/
docs/
devel/
.installed.cfg
.mr.developer.cfg
TAGS
buildout.cfg
buildout.log
devel/
develop-eggs/
downloads/
eggs/
fake-eggs/
include/
lib/
parts/
.python-eggs/
var/
tags
versions-picked.cfg

# shared by docker
.buildout/
.cache/
.compta.vim
.config/
.dockerignore
.gitconfig
.oh-my-zsh/
.pypirc
.ssh/
.subversion/
.tmp/
.tmux.conf
.vim/
.viminfo
.vimrc
.zcompdump
.zcompdump-*
.zsh-update
.zsh/
.zshrc
README.md
downloads/
oracle/
pass/
*.log
.history
